.content:after {
  content: "Ivar Conradi Østhus @ JavaZone 2012";
  position: absolute;
  top: 5px;
  right: 5px;
  color: gray;
  font-size: 0.7em;
}

body {
  font-family: serif;
}

h1 {
  padding-left: 1em;
  padding: 0.1em 1em;
  color: white;
  background: #444;
  border-radius: 5px;

  /* borrowed from http://modernizr.com/ */
  background: -moz-linear-gradient(top, #1f1f1f 0%, #424242 2.5%, #1f1f1f 5%, #313131 95%, #141414 97.5%, #313131 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f1f1f), color-stop(2.5%,#424242), color-stop(5%,#1f1f1f), color-stop(95%,#313131), color-stop(97.5%,#141414), to(#313131));
  background: -webkit-linear-gradient(top, #1f1f1f 0%, #424242 2.5%, #1f1f1f 5%, #313131 95%, #141414 97.5%, #313131 100%);
  background: -o-linear-gradient(top, #1f1f1f 0%, #424242 2.5%, #1f1f1f 5%, #313131 95%, #141414 97.5%, #313131 100%);
  background: -ms-linear-gradient(top, #1f1f1f 0%, #424242 2.5%, #1f1f1f 5%, #313131 95%, #141414 97.5%, #313131 100%);
  background: linear-gradient(top, #1f1f1f 0%, #424242 2.5%, #1f1f1f 5%, #313131 95%, #141414 97.5%, #313131 100%);
  /* Wishful thinking: */
  background: gradient(top, #1f1f1f:0, #424242:2.5, #1f1f1f:5, #313131:95, #141414:97.5, #313131));
}

.bottom {
  bottom: 10px;
  left: 180px;
  position: absolute;
  text-align: left;
}

li {
  margin: 10px 0;
}

li li {
  margin: 5px 0;
}

.social {
  color: navy;
  text-decoration: none
}

.site {
  font-style: italic;
}
.site:before {
  content: '“'
}
.site:after {
  content: '”'
}

.author{
  font-style: normal;
  font-weight: bold;
  float: right;
}
.author:before{
  content: '—';
}

.underline {
  text-decoration: underline;
}
.border {
  border: 1px solid #444;
}

.important {
  background: #BAD696;
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BAD696), to(#DFF5C4));
  background: -webkit-linear-gradient(top, #BAD696, #DFF5C4);
  background: -moz-linear-gradient(top, #BAD696, #DFF5C4);
  background: -ms-linear-gradient(top, #BAD696, #DFF5C4);
  background: -o-linear-gradient(top, #BAD696, #DFF5C4);
}
.box {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;c;
}
.fullwidth {
  width: 100%;
}

.big p, .big ul, .big div, span.big {
  font-size: 1.4em;
}

pre {
  border: 1px solid #666;
  border-radius: 3px;
}




/** Colors **/
.red {
  color: red;
}
.blue {
  color: #D1D7FF;
}

/** Template stuff **/
.infobox {
  position: absolute; 
  left: 10px; 
  top: 400px;
  background: #444;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px yellow;
  padding: 0 20px 0 0;
  color: white;
}

.slide .itera-logo:after {
  content: url("../images/IteraConsulting.png");  
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 10;
  background-color: #000;
  border-radius: 0 5px 0px 0px;
}

/**imgbg - Overrides to allow full image background**/
#slideshow .slide .content.imgbg {
  padding-left: 0;
  padding-right: 0;
}

.imgbg img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.imgbg h1 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0;
}